.call-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 20px;
}

.call-us__title {
    margin-bottom: 17px;
    text-align: center;
    font-size: var(--title-font-size-on-mobile);
}

.call-us__text {
    margin-bottom: 30px;
    text-align: center;
    font-size: var(--normal-font-size);
}

.call-us__img {
    display: none;
}

.call-img {
    width: 93px;
}

.call-us-numb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    max-width: 267px;
    margin-bottom: 50px;
}

.numb {
    vertical-align: middle;
    color: var(--gray);
    font-size: var(--upnormal-font-size);
}

.numb:hover {
    text-decoration: underline;
    color: var(--lite);
}


@media(min-width:768px) {
    .call-us {
        margin: 50px 30px;
    }

    .call-us__title {
        margin-bottom: 42px;
        font-size: var(--title-font-size-on-desctop);
    }
}

@media(min-width:1024px) {
    .call-us {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }

    .call-us__img {
        display: flex;
    }

    .call-us__title,
    .call-us__text {
        text-align: left;
    }
}

@media(min-width:1440px) {
    .call-us {
        display: flex;
        flex-direction: row;
        margin: 100px 120px;
        gap: 16px;
    }

    .call-us__img {
        display: flex;
    }

    .call-us__text {
        padding-right: 68px;
    }
}