@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    scroll-behavior: smooth;
    --title-font-family: 'DM Serif Display', serif;
    --paragraphs-font-family: 'Jost', sans-serif;
}

h1,
h2,
h3 {
    font-family: var(--title-font-family);
}

img {
    display: block;
    width: 100%;
}

body {
    max-width: 1440px;
    margin: auto;
    font-family: var(--paragraphs-font-family);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

.btn {
    width: 180px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292F36;
    border-radius: 20px;
    color: #CDA274;
    font-size: 17px;
}
@media(min-width:1440px) {
    .btn {
        width: 210px;
        height: 70px;
        font-size: 20px;
    }
    
}