@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    scroll-behavior: smooth;
    /* font-families */
    --title-font-family: 'DM Serif Display', serif;
    --paragraphs-font-family: 'Jost', sans-serif;
    /* text-colors */
    --title-color: #292F36;
    --paragraphs-color: #4D5053;
    /* font-sizes */
    --main-font-size-on-mobile: 40px;
    --main-font-size-on-desctop: 80px;
    --title-font-size-on-mobile: 35px;
    --title-font-size-on-desctop: 50px;
    --normal-font-size: 22px;
    --upnormal-font-size: 24px;
    --lessnormal-font-size: 20px;
    --small-font-size: 18px;
    /*colors */
    --dark: #292F36;
    --lite: #CDA274;
    --white: #ffffff;
    --black: #000000;
    --gray: #4D5053;
    --lite-gray: #F4F0EC;

}

h1,
h2,
h3,
h4 {
    font-family: var(--title-font-family);
    color: var(--title-color);
    font-weight: 400;
}

p {
    font-family: var(--paragraphs-font-family);
    font-size: var(--normal-font-size);
    color: var(--paragraphs-color);
    line-height: 33px;
}

img {
    display: block;
    width: 100%;
}

body {
    margin: auto;
    max-width: 1440px;
}

a {
    font-family: var(--paragraphs-font-family);
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none; 
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px 67px;
    width: fit-content;
    height: 55px;
    background-color: #292F36;
    border-radius: 20px;
    color: var(--white);
    font-size: var(  --lessnormal-font-size);
    font-family: var(--paragraphs-font-family);
}

@media(min-width:1440px) {
    .btn {
        height: 70px;
        font-size: var( --upnormal-font-size);
    }
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(min-width:1024px) {
    .center {
        display: block;
    }
}

.small-column {
    width: 211px;
}