.info {
    display: grid;
    justify-content: center;
    align-items: baseline;
    margin: 50px 0;
}

.info__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 20px;
}

.info__title {
    margin-bottom: 17px;
    font-size: var(--upnormal-font-size);
    text-align: center;
}

.info__text {
    margin-bottom: 55px;
    font-size: var(--normal-font-size);
    text-align: center;
}

.info__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-img {
    margin-left: 10px;
    width: 24px;
    height: 17px;
}

@media(min-width:768px) {
    .info {
        grid-template-columns: 1fr 1fr;
        margin: 50px 10px;
    }
}

@media(min-width:1024px) {
    .info {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(min-width:1440px) {
    .info {
        margin: 100px 120px;
    }
}